{% extends 'base.html' %}
{% block title %}司法書士受験生が切磋琢磨する掲示板 - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui breadcrumb">
            <a href="{% url 'snsapp:top' %}" class="section">TOP</a>
            <i>></i>
            <a class="active section">ログアウト完了</a>
        </div>
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>ログアウトしました。</h3></div>
                <p><a href="{% url 'snsapp:top' %}">TOPへ戻る</a></p>
            </div>
        </div>
    </div>
    {% include 'app1/sidebar.html' %}
</div>
{% endblock %}

