{% extends "base.html" %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/profile.css' %}">
{% endblock %}
{% block content %}
<div id="profile_page">
    <div id="user_status">
        {% if User.icon %}
        <img src="{{ User.icon.url }}" class="user-icon">
        {% else %}
        <img src="{% static 'images/user_icon.png' %}" class="user-icon">
        {% endif %}
        <h2>{{ User.username }}</h2>
        <p class="followBtn">フォローする</p>
    </div>
    <div id="user_post">
        <p class="list-t">{{ User.username }}さんの投稿一覧</p>
    </div>
</div>
{% endblock %}