img {
  width: 250px;
  margin-right: 32px;
  vertical-align: middle;
}

section {
  display: flex;
  margin-bottom: 50px;
}

.desc {
  flex: 1;
}

.sections {
  display: flex;
  
  border: 2px solid rgb(212, 212, 212);
}