{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block meta_tag %}{% endblock %}
    <link href="{% static 'css/semantic.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cms/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="./../../static/css/styles.css">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <title>

        {% block title %}あつまれ未来の司法書士{% endblock %}
    </title>
</head>
<body>
    <div class="ui stackable inverted menu">
        <a href="{% url 'snsapp:top' %}" class="header item">
            司法書士受験生
        </a>
        <a href="{% url 'snsapp:about' %}" class="item">
            このサイトはなに？
        </a>
        <a class="item" href="{% url 'thread:create_topic' %}">
            トピック作成
        </a>
        {% if user.is_authenticated %}
        <a class="item" href="{% url 'snsapp:todo'%}">
            ToDoリスト
        </a>
        {% endif %}
        <div class="right menu">
            {% if user.is_authenticated %}
            <a class="item" href="{% url 'accounts:profile' %}">ユーザー情報</a>
            {% comment %} <a class="item" href="{% url 'logout' %}">ログアウト</a> {% endcomment %}
            <a class="item" href="{% url 'accounts:logout' %}">ログアウト</a>
            {% else %}
            {% comment %} <a class="item" href="{% url 'login' %}">ログイン</a> {% endcomment %}
            <a class="item" href="{% url 'accounts:login' %}">ログイン</a>
            <a class="item" href="{% url 'accounts:create' %}">ユーザー登録</a>
            {% endif %}
        </div>
    </div>
    
    <div class="ui container" style="min-height:100vh;">
        {% block content %}
        {% endblock %}
    </div>
    <div class="ui inverted stackable footer segment">
        <div class="ui container center aligned">
            <div class="ui horizontal inverted small divided link list">
                <a href="{% url 'snsapp:top' %}" class="item">© 2022 司法書士の受験生の集合場所</a>
                <a href="{% url 'snsapp:terms' %}" class="item">利用規約</a>
                <a href="{% url 'snsapp:policy' %}" class="item">プライバシーポリシー</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>
    {% comment %} <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script> {% endcomment %}
    {% block js %}
    {% endblock %}
</body>

