{% extends 'base.html' %}
{% block title %}ニュース - {{ block.super }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="./../../static/css/news.css">{% endblock %}
{% block content %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui breadcrumb">
            <a href="{% url 'snsapp:top' %}" class="section">TOP</a>
            <i>></i>
            <a class="active section">ニュース</a>
        </div>
            <h3>最新のニュース</h3>
            {% for content in top_headlines.articles %}
                <section>
                  <div class="sections">
                    <div class="pic">
                      <img src="{{ content.urlToImage }}" alt="Placeholder image">
                    </div>
                    <div class="desc">
                      <p class="title is-4">{{ content.title }}</p>
                      <p class="subtitle is-6">{{ content.author }}</p>
                      {{ content.description }}
                      <br>
                      {{ content.publishedAt }}
                    </div>
                  </div>
                </section>
            {% endfor %}
        </div> 
    </div>
    {% include 'app1/sidebar.html' %}
</div>
{% endblock %}

